In [1]:
import pandas as pd

In [ ]:
# df = pd.DataFrame(
#     {
#         'name' : ['Ali'  ,'Sara' , 'Reza'],
#         'Age' : [23 , 31 ,19]
#     }
# )

   name  Age
0   Ali   23
1  Sara   31
2  Reza   19

In [3]:
df = pd.read_csv('titanic.csv')